In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/yugosaito/anaconda3/lib/python3.10/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /Users/yugosaito/anaconda3/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('book_test.csv')

          タイトル     著者     出版社
0   「愛が冷める熱気球」    滝和重   山びこ出版
1   「モンゴルの軽井沢」   神郡那樹    ひとみ堂
2      「刺繍一人旅」   有薗草祐   黄昏堂出版
3       「男の革命」  藤間聖一朗    文化書店
4    「団塊世代の裁判」  秋村皓一郎     大鷲会
5    「猫たちのお茶会」   高谷昂也  ヤマネコ書房
6  「ミッドナイト水彩画」   岩城盛吾     東洋舎
7   「高原のセレナーデ」   仲地奈祐     鶯図書
8       「名画時間」   古山匠郎    平成書院
9   「武蔵野お医者さん」   葦原新也   赤灯出版社

In [4]:
#Sparkをセッションを立ち上げようと思ったら必ずいる。
from pyspark.sql import SparkSession

In [5]:
#つまずきポイントとして、初期でJavaをインストールしていないといけない。
spark = SparkSession.builder.appName('Practice').getOrCreate()

24/02/13 08:06:22 WARN Utils: Your hostname, Yugos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.20.10.2 instead (on interface en0)
24/02/13 08:06:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/13 08:06:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
#csvの読み込み
df_spark = spark.read.csv('book_test.csv')

In [8]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [9]:
df_spark.show()

+----------------------+----------+------------+
|                   _c0|       _c1|         _c2|
+----------------------+----------+------------+
|              タイトル|      著者|      出版社|
|  「愛が冷める熱気球」|    滝和重|  山びこ出版|
|  「モンゴルの軽井沢」|  神郡那樹|    ひとみ堂|
|        「刺繍一人旅」|  有薗草祐|  黄昏堂出版|
|          「男の革命」|藤間聖一朗|    文化書店|
|    「団塊世代の裁判」|秋村皓一郎|      大鷲会|
|    「猫たちのお茶会」|  高谷昂也|ヤマネコ書房|
|「ミッドナイト水彩画」|  岩城盛吾|      東洋舎|
|  「高原のセレナーデ」|  仲地奈祐|      鶯図書|
|          「名画時間」|  古山匠郎|    平成書院|
|  「武蔵野お医者さん」|  葦原新也|  赤灯出版社|
+----------------------+----------+------------+

In [10]:
df_pyspark = spark.read.option('header', 'true').csv('book_test.csv')

In [11]:
df_pyspark

DataFrame[タイトル: string, 著者: string, 出版社: string]

In [12]:
#全体像の把握ができる。
df_pyspark.show()

+----------------------+----------+------------+
|              タイトル|      著者|      出版社|
+----------------------+----------+------------+
|  「愛が冷める熱気球」|    滝和重|  山びこ出版|
|  「モンゴルの軽井沢」|  神郡那樹|    ひとみ堂|
|        「刺繍一人旅」|  有薗草祐|  黄昏堂出版|
|          「男の革命」|藤間聖一朗|    文化書店|
|    「団塊世代の裁判」|秋村皓一郎|      大鷲会|
|    「猫たちのお茶会」|  高谷昂也|ヤマネコ書房|
|「ミッドナイト水彩画」|  岩城盛吾|      東洋舎|
|  「高原のセレナーデ」|  仲地奈祐|      鶯図書|
|          「名画時間」|  古山匠郎|    平成書院|
|  「武蔵野お医者さん」|  葦原新也|  赤灯出版社|
+----------------------+----------+------------+

In [13]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [14]:
#ヘッダーの情報がわかる。
df_pyspark.head()

Row(タイトル='「愛が冷める熱気球」', 著者='滝和重', 出版社='山びこ出版')

In [15]:
#カラムの情報がわかる。
df_pyspark.printSchema()

root
 |-- タイトル: string (nullable = true)
 |-- 著者: string (nullable = true)
 |-- 出版社: string (nullable = true)

In [16]:
#inferschema がないと全てstg として読み込まれてしまう。。
test = spark.read.option('header', 'true').csv('test1.csv', inferSchema = True)

In [17]:
test

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [18]:
#プリントは小文字でスキーマは大文字のところは注意する。。
test.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [19]:
test.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [20]:
test.head(5)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000),
 Row(Name='Harsha', age=21, Experience=1, Salary=15000)]

In [21]:
type(test)

pyspark.sql.dataframe.DataFrame

In [22]:
#カラムの名前が知りたい時
test.columns

['Name', 'age', 'Experience', 'Salary']

In [23]:
#名前だけを知りたい時には、selectで絞れる。
test.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [24]:
#sqlに似てる。
test.select(["Name", "Experience"]).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [25]:
test["Experience"]

Column<'Experience'>

In [26]:
#データタイプの見方.
test.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [27]:
test.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [28]:
## Adjust the value as needed　ここの設定を100にする事で警告文が出なくなる。理由は表示のディスプレイを設定したから。
spark.conf.set("spark.sql.debug.maxToStringFields", "100") 
test.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [29]:
#withcolumn でコラムを追加できる。
test.withColumn("Experience after 2 years ", test['Experience']+2).show()

+---------+---+----------+------+-------------------------+
|     Name|age|Experience|Salary|Experience after 2 years |
+---------+---+----------+------+-------------------------+
|    Krish| 31|        10| 30000|                       12|
|Sudhanshu| 30|         8| 25000|                       10|
|    Sunny| 29|         4| 20000|                        6|
|     Paul| 24|         3| 20000|                        5|
|   Harsha| 21|         1| 15000|                        3|
|  Shubham| 23|         2| 18000|                        4|
+---------+---+----------+------+-------------------------+

In [30]:
test.drop("Experience after 2 years").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [31]:
#コラムの名前の変更の仕方。
a = test.withColumnRenamed("Name", "New_Name")
a.show()

+---------+---+----------+------+
| New_Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [32]:
test.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [33]:
##ここでheaderとintかstrを説明してる。
df_spark = spark.read.csv("test2.csv", header = True, inferSchema=True)

In [34]:
!ls

README.md      book.xlsx      pyspark.ipynb  test2.csv
book copy.xlsx book_test.csv  test1.csv      test3.csv

In [35]:
df_spark.show()
df_spark.dtypes

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [36]:
#欠損値のレコードの消し方。na.drop()
df_spark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [37]:
##how の使い方は重要。因数がallかanyを入れられる。
df_spark.na.drop(how = "all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [38]:
df_spark.na.drop(how = "any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [39]:
##値が２個以上入っていたら、それは残す。
df_spark.na.drop(how = "any", thresh = 2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [40]:
df_spark.na.drop(how = "any", subset = ["age"]).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
|     NULL| 36|      NULL|  NULL|
+---------+---+----------+------+

In [41]:
#nullの削除方法(最初のカラムだけ)
df_spark.na.fill('missing values', ["Name", "Experience", "Salary"]).show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|NULL|      NULL| 40000|
|missing values|  34|        10| 38000|
|missing values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [42]:
!ls

README.md      book.xlsx      pyspark.ipynb  test2.csv
book copy.xlsx book_test.csv  test1.csv      test3.csv

In [43]:
#これで mlib のライブラリー読み込んでる。
#ここで何ができるかというとmissing value をすべて平均値に直すやり方。
#しかもoutput vavriable で カラムを作成してる。
from pyspark.ml.feature import Imputer 

imputer = Imputer(
    inputCols = ["age", "Experience", "Salary"],
    outputCols = ["{}_imputed".format(c) for c in ["age", "Experience", "Salary"]]
).setStrategy("mean")

In [44]:
#右側が変更された値。左側はそのまま
#setStrategyで定義した平均を入れているだけ。
imputer.fit(df_spark).transform(df_spark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|NULL|      NULL| 40000|         28|                 5|         40000|
|     NULL|  34|        10| 38000|         34|                10|         38000|
|     NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

### Filter Operaton

In [45]:
#給料が 2000 よりも多い人、もしくはequel. 
df_spark.filter("Salary <= 20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [46]:
#select でselect 文みたいに使える。
df_spark.filter("Salary <= 20000").select(['Name', "age"]).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [48]:
spark

In [57]:
#header がないとカラム名が出ない。
pyspark_test3 = spark.read.csv("test3.csv", header = True, inferSchema = True)

pyspark_test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [58]:
pyspark_test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [73]:
pyspark_test3.groupby("Name").sum("salary").show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [71]:
##groupbyの関数はbyは大文字でも小文字でもOK。
pyspark_test3.groupBy("Departments").max().show()
pyspark_test3.groupby("Departments").max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [77]:
pyspark_test3.groupby("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [78]:
pyspark_test3.groupby("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+